h1
{
	text-align: center;
	text-shadow: 3px 2px 5px black;
	font-size: 50px;
}

h1:hover
{
	color: white;
	opacity: 0.5;
}


body
{
	 background-color: #b3b3b3;
}


.main
{
	width: 70%;
	height: 70%;
	box-shadow: 10px 10px 85px black;
	background-color: #dfdfdf;
	margin: auto;
}

a
{
	position: relative;
	top: 40%;
	font-size: 150%;
	text-shadow: 5px 5px 10px black;
	color: black;
	display: flex;
	justify-content: center;
}

a:hover
{
	color: grey;  
	opacity: 0.5;
}
