h1
{
	text-align: center;
	position: relative;
	top: 2%;
	text-shadow: 3px 2px 5px black;
	font-size: 60px;
}

.main
{
	width: 1080;
	height: 2500;
	box-shadow: 10px 10px 85px black;
	background-color: #dfdfdf;
	position: relative;
	right: -20%;
}

body
{
	 background-color: #b3b3b3;
}

p
{
	position: relative;
  	text-align: left;
	top: 2%;
	right: -10px;
	font-size:25x;
	color: black;
}

.img
{
	position: relative;
	box-shadow: 15px 15px 45px black;
	top: 60px;
	width: 640;
	height: 480;
	right: -25%;
}

.code
{
	width: 200px; 
	height: 100px;
	background-color: #898989;
}

.lines
{
	width: 200px; 
	height: 100px;
	background-color: #898989;
}

}


