h1
{
	text-align: center;
	position: relative;
	top: 2%;
	text-shadow: 3px 2px 5px black;
	font-size: 60px;
}

.main
{
	width: 75%;
	height: 4550;
	box-shadow: 10px 10px 85px black;
	background-color: #dfdfdf;
	position: relative;
	margin: auto;
}

body
{
	 background-color: #b3b3b3;
}

p.maintext
{
	position: relative;
  text-align: left;
	top: 2%;
	right: -10px;
	font-size:25x;
	color: black;
}

.img
{
	position: relative;
	box-shadow: 15px 15px 45px black;
	top: 35px;
	width: 45%;
  	margin-left: 30%;
  	border-style:solid; 
  	border-color: #dfdfdf; 
  	border-width:5px;
}

.code
{
	width: 200px; 
	height: 100px;
	background-color: #898989;
	position: relative;
	text-align: center;
	right: -5%;
}

.lines
{
	width: 200px; 
	height: 100px;
	background-color: #898989;
}

}


