body 
{
  background-image: url("Background.png");
}

h3
{
	color: #8c9aff;
	text-align: center;
	font-family: Californian FB Bold, Calisto MT Bold;
	text-shadow: 3px 2px 4px #000000;
	position: 
}

h3:hover
{
	color: #4251c0;
}

.main
{
	height: 1280px;
	width: 720px;
	box-shadow: 10px 10 px 5px black;
	text-align: center;
}
